.sidebar-nav h3, footer h3 { color:#088500; border-color:#088500;}
.footer-mainbg { background:#088500;}
.conten-bot{text-shadow: 1px 1px 1px #000000; background: url(../img/conten-bot-green.png) no-repeat scroll center top transparent;}
a{ color:#088500;}
a:hover{ color:#088500;}
.nav1 li a{color:#088500; border-color:#088500;}
.nav1 li a:hover{color:#088500; border-color:#088500;}
.nav1 li ul.children{border-color:#088500;}
.nav1 li ul.children a:hover{ color:#088500;}
.search{ background: url(../img/search-bg-green.jpg) no-repeat scroll left top transparent;}
.notify{ color:#088500;}
h1{color:#088500;}
h1 a{color:#088500;}
.heading .navbar-inverse .btn-navbar { background: url(../img/mob-nav.png) no-repeat top left; width:34px; height:21px;cursor: pointer;
    margin: 10px 0 0;
    padding: 0;}

@media (max-width: 979px) {
.nav1 li ul.children li a:hover{ color:#088500 !important;}

}