
.Theme_Responsive_20045_home2 select, .Theme_Responsive_20045_home2 textarea, .Theme_Responsive_20045_home2 input[type="text"], .Theme_Responsive_20045_home2 input[type="password"], .Theme_Responsive_20045_home2 input[type="datetime"], .Theme_Responsive_20045_home2 input[type="datetime-local"], .Theme_Responsive_20045_home2 input[type="date"], .Theme_Responsive_20045_home2 input[type="month"], .Theme_Responsive_20045_home2 input[type="time"], .Theme_Responsive_20045_home2 input[type="week"], .Theme_Responsive_20045_home2 input[type="number"], .Theme_Responsive_20045_home2 input[type="email"], .Theme_Responsive_20045_home2 input[type="url"], .Theme_Responsive_20045_home2 input[type="search"], .Theme_Responsive_20045_home2 input[type="tel"], .Theme_Responsive_20045_home2 input[type="color"], .uneditable-input {
    border-radius: 3px;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    line-height: 1.3;
    padding: 11px 20px;
}
.Theme_Responsive_20045_home2 textarea, .Theme_Responsive_20045_home2 input[type="text"], .Theme_Responsive_20045_home2 input[type="password"], .Theme_Responsive_20045_home2 input[type="datetime"], .Theme_Responsive_20045_home2 input[type="datetime-local"], .Theme_Responsive_20045_home2 input[type="date"], .Theme_Responsive_20045_home2 input[type="month"], .Theme_Responsive_20045_home2 input[type="time"], .Theme_Responsive_20045_home2 input[type="week"], .Theme_Responsive_20045_home2 input[type="number"], .Theme_Responsive_20045_home2 input[type="email"], .Theme_Responsive_20045_home2 input[type="url"], .Theme_Responsive_20045_home2 input[type="search"], .Theme_Responsive_20045_home2 input[type="tel"], .Theme_Responsive_20045_home2 input[type="color"], .uneditable-input {
    background-color: #ffffff;
    border: 1px solid #999999;
    margin-bottom: 0;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
.Theme_Responsive_20045_home2 textarea:focus, .Theme_Responsive_20045_home2 input[type="text"]:focus, .Theme_Responsive_20045_home2 input[type="password"]:focus, .Theme_Responsive_20045_home2 input[type="datetime"]:focus, .Theme_Responsive_20045_home2 input[type="datetime-local"]:focus, .Theme_Responsive_20045_home2 input[type="date"]:focus, .Theme_Responsive_20045_home2 input[type="month"]:focus, .Theme_Responsive_20045_home2 input[type="time"]:focus, .Theme_Responsive_20045_home2 input[type="week"]:focus, .Theme_Responsive_20045_home2 input[type="number"]:focus, .Theme_Responsive_20045_home2 input[type="email"]:focus, .Theme_Responsive_20045_home2 input[type="url"]:focus, .Theme_Responsive_20045_home2 input[type="search"]:focus, .Theme_Responsive_20045_home2 input[type="tel"]:focus, .Theme_Responsive_20045_home2 input[type="color"]:focus, .uneditable-input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
.Theme_Responsive_20045_home2 select {
    background-color: #ffffff;
    border: 1px solid #cccccc;
}
.Theme_Responsive_20045_home2 select, .Theme_Responsive_20045_home2 input[type="file"] {
    height: 30px;
    line-height: 30px;
}
.Theme_Responsive_20045_home2 select[multiple], .Theme_Responsive_20045_home2 select[size] {
    height: auto;
}
.Theme_Responsive_20045_home2 legend {
    font-size: 16px;
}
.Theme_Responsive_20045_home2 fieldset {
    margin-bottom: 10px;
}
.Theme_Responsive_20045_home2 .form_label, .Theme_Responsive_20045_home2 .form_input, .Theme_Responsive_20045_home2 .form_required {
    padding: 0 0 15px;
}
.Theme_Responsive_20045_home2 .form_input {
    position: relative;
}
.Theme_Responsive_20045_home2 .form_captcha img {
    vertical-align: top;
}
.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(center top , #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border-color: #e6e6e6 #e6e6e6 #a2a2a2;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 14px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background-color: #e6e6e6;
    color: #333333;
}
.btn:active, .btn.active {
}
.btn:first-child {
}
.btn:hover {
    background-color: #e6e6e6;
    background-position: 0 -15px;
    color: #333333;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
}
.btn:focus {
    outline: thin dotted #333;
    outline-offset: -2px;
}
.btn.active, .btn:active {
    background-color: #e6e6e6;
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: 0 none;
}
.btn.disabled, .btn[disabled] {
    background-color: #e6e6e6;
    background-image: none;
    box-shadow: none;
    cursor: default;
    opacity: 0.65;
}
.btn-large {
    border-radius: 5px;
    font-size: 16px;
    line-height: normal;
    padding: 9px 14px;
}
.btn-large [class^="icon-"] {
    margin-top: 2px;
}
.btn-small {
    font-size: 12px;
    line-height: 18px;
    padding: 3px 9px;
}
.btn-small [class^="icon-"] {
    margin-top: 0;
}
.btn-mini {
    font-size: 11px;
    line-height: 17px;
    padding: 2px 6px;
}
.btn-block {
    box-sizing: border-box;
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.btn-block + .btn-block {
    margin-top: 5px;
}
input.btn-block[type="submit"], input.btn-block[type="reset"], input.btn-block[type="button"] {
    width: 100%;
}
.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active {
    color: rgba(255, 255, 255, 0.75);
}
.btn {
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
.btn-primary {
    background-color: #006dcc;
    background-image: -moz-linear-gradient(center top , #0088cc, #0044cc);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #0044cc;
    color: #ffffff;
}
.btn-primary:active, .btn-primary.active {
}
.btn-warning {
    background-color: #faa732;
    background-image: -moz-linear-gradient(center top , #fbb450, #f89406);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    background-color: #f89406;
    color: #ffffff;
}
.btn-warning:active, .btn-warning.active {
}
.btn-danger {
    background-color: #da4f49;
    background-image: -moz-linear-gradient(center top , #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
    background-color: #bd362f;
    color: #ffffff;
}
.btn-danger:active, .btn-danger.active {
}
.btn-success {
    background-color: #5bb75b;
    background-image: -moz-linear-gradient(center top , #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    background-color: #51a351;
    color: #ffffff;
}
.btn-success:active, .btn-success.active {
}
.btn-info {
    background-color: #49afcd;
    background-image: -moz-linear-gradient(center top , #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-color: #2f96b4;
    color: #ffffff;
}
.btn-info:active, .btn-info.active {
}
.btn-inverse {
    background-color: #363636;
    background-image: -moz-linear-gradient(center top , #444444, #222222);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
    background-color: #222222;
    color: #ffffff;
}
.btn-inverse:active, .btn-inverse.active {
}
button.btn, input.btn[type="submit"], input.btn[type="reset"] {
}
button.btn::-moz-focus-inner, input.btn[type="submit"]::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
button.btn.btn-large, input.btn.btn-large[type="submit"] {
}
button.btn.btn-small, input.btn.btn-small[type="submit"] {
}
button.btn.btn-mini, input.btn.btn-mini[type="submit"] {
}
.Theme_Responsive_20045_home2 .form_label {
}
.Theme_Responsive_20045_home2 .form_required {
    color: red;
    display: none;
}
.Theme_Responsive_20045_home2 .submit_but {
}
.Theme_Responsive_20045_home2 .result_form h1 {
}
.Theme_Responsive_20045_home2 .form_submit {
    text-align: right;
}
.Theme_Responsive_20045_home2 .result_form .form_submit {
    text-align: left;
}
.formError {
    z-index: 990;
}
.formError .formErrorContent {
    z-index: 991;
}
.formError .formErrorArrow {
    z-index: 996;
}
.ui-dialog .formError {
    z-index: 5000;
}
.ui-dialog .formError .formErrorContent {
    z-index: 5001;
}
.ui-dialog .formError .formErrorArrow {
    z-index: 5006;
}
.inputContainer {
    float: left;
    position: relative;
}
.formError {
    cursor: pointer;
    display: block;
    left: 300px;
    position: absolute;
    text-align: left;
    top: 300px;
}
.formError.inline {
    display: inline-block;
    left: 0;
    position: relative;
    top: 0;
}
.ajaxSubmit {
    background: #55ea55 none repeat scroll 0 0;
    border: 1px solid #999;
    display: none;
    padding: 20px;
}
.formError .formErrorContent {
    background: #ee0101 none repeat scroll 0 0;
    border: 2px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 0 6px #000;
    color: #fff;
    font-size: 11px;
    min-width: 120px;
    padding: 4px 10px;
    position: relative;
    width: 100%;
}
.formError.inline .formErrorContent {
    border: medium none;
    border-radius: 0;
    box-shadow: none;
}
.greenPopup .formErrorContent {
    background: #33be40 none repeat scroll 0 0;
}
.blackPopup .formErrorContent {
    background: #393939 none repeat scroll 0 0;
    color: #fff;
}
.formError .formErrorArrow {
    margin: -2px 0 0 13px;
    position: relative;
    width: 15px;
}
body[dir="rtl"] .formError .formErrorArrow, body.rtl .formError .formErrorArrow {
    margin: -2px 13px 0 0;
}
.formError .formErrorArrowBottom {
    box-shadow: none;
    margin: 0 0 0 12px;
    top: 2px;
}
.formError .formErrorArrow div {
    background: #ee0101 none repeat scroll 0 0;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    box-shadow: 0 2px 3px #444;
    display: block;
    font-size: 0;
    height: 1px;
    line-height: 0;
    margin: 0 auto;
}
.formError .formErrorArrowBottom div {
    box-shadow: none;
}
.greenPopup .formErrorArrow div {
    background: #33be40 none repeat scroll 0 0;
}
.blackPopup .formErrorArrow div {
    background: #393939 none repeat scroll 0 0;
    color: #fff;
}
.formError .formErrorArrow .line10 {
    border: medium none;
    width: 15px;
}
.formError .formErrorArrow .line9 {
    border: medium none;
    width: 13px;
}
.formError .formErrorArrow .line8 {
    width: 11px;
}
.formError .formErrorArrow .line7 {
    width: 9px;
}
.formError .formErrorArrow .line6 {
    width: 7px;
}
.formError .formErrorArrow .line5 {
    width: 5px;
}
.formError .formErrorArrow .line4 {
    width: 3px;
}
.formError .formErrorArrow .line3 {
    border-bottom: 0 solid #ddd;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    width: 1px;
}
.formError .formErrorArrow .line2 {
    background: #ddd none repeat scroll 0 0;
    border: medium none;
    width: 3px;
}
.formError .formErrorArrow .line1 {
    background: #ddd none repeat scroll 0 0;
    border: medium none;
    width: 1px;
}
.Theme_Responsive_20045_home2 .input_Tooltip {
    font-style: italic;
}
.Theme_Responsive_20045_home2 .submit_image {
    border: medium none;
}
.Theme_Responsive_20045_home2 .PowerForms_Calendar {
    background-image: url("../images/calendar.png");
    background-position: 100% 50%;
    background-repeat: no-repeat;
}
.Theme_Responsive_20045_home2 .PowerForms_ErrorMessage {
    color: #f00;
}
.Theme_Responsive_20045_home2 .form_list {
    font-size: 0;
    letter-spacing: normal;
    list-style: outside none none;
    margin: 0 -10px 0 0;
    padding: 0;
}
.Theme_Responsive_20045_home2 li {
    display: inline-block;
    font-size: 13px;
    vertical-align: top;
}
.Theme_Responsive_20045_home2 .form_row {
    padding: 0 10px 10px 0;
}
.Theme_Responsive_20045_home2 .form_label {
    color: #555;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    margin: 4px 0 5px;
}
.Theme_Responsive_20045_home2 .form_input {
    font-size: 14px;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
}
.Theme_Responsive_20045_home2 .form_input::after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.Theme_Responsive_20045_home2 .form_submit input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #009b85;
    border-radius: 3px;
    box-shadow: none;
    color: #009b85;
    padding: 10px 35px;
    text-shadow: none;
    text-transform: uppercase;
    transition: all 200ms ease-in 0s;
}
.Theme_Responsive_20045_home2 .form_submit input:hover {
    background: #009b85 none repeat scroll 0 0;
    color: #ffffff;
}
.Theme_Responsive_20045_home2 .form_input textarea {
    height: 194px !important;
}
@media only screen and (max-width: 767px) {
.Theme_Responsive_20045_home2 .form_submit input {
    margin-top: 0;
}
.Theme_Responsive_20045_home2 .submit_but {
    margin-right: 5px;
}
}